/* styles/Accordion.module.css */

.accordion {
    margin-bottom: .71rem;
    padding: .5rem;
    background-color: var( --color-white);
    border: 1px solid var(--color-primary);
    width: 100%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Esto asegura que el contenido se oculte correctamente */
    max-height: 31.25rem;
    transition: max-height 1s ease; /* Agrega una transición animada */
  }

  .accordion .open {
  max-height: 312rem; /* Establece la altura máxima que puede tener el contenido abierto */
}
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: var( --color-primary);
  }

  .accordion-header h3{
    font-family: var( --font-family-text);
    font-size: 1.2rem;
    font-weight: 500;
    color: var( --color-primary);
  }
  
  .accordion-content {
    padding: 10px;
    color: var(--color-black);
  }

  .arrow {
    transition: transform 0.3s ease;
  }
  
  .open .arrow {
    transform: rotate(180deg);
  }
  