footer {
    background-color: var(--color-white);
    color: black;
    padding: 20px 0;
    font-family: var(--font-family-text);
    font-weight: 400;
}

.containerFooter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding: 1rem;
}

.footer-logo img {
width: 15rem;
height: auto;
}

.footer-socialmedia{
    padding: 1rem;
    text-align: center;
}

.footer-socialmedia p{
    margin-bottom: 1rem;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:center
}

.footer-links ul li {
    margin: 0 1rem;
}

.footer-links ul li a {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-family-text);
    font-size: 1.7rem;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    font-size: 2rem;
}


.footer-contact p {
    margin: 0;
    font-family: var(--font-family-text);
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 400;
}
