/* styles/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: rgb(73, 70, 70);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo img {
    height: 2em;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-menu li {
    font-size: 18px;
  }
  
  .nav-menu a {
    text-decoration: none;
  }
  
  /* Añade más estilos según tus preferencias */
  