  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .logo img {
    height: 2em;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-menu li {
    font-size: 18px;
  }
  
  .nav-menu a {
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    .nav-menu{
      display: none;
    }
  }
  /* Añade más estilos según tus preferencias */
  