.services_section{
    background-color: var(--background-seccion-color-two);
    padding: 2.5rem 0;
}

.services_section .title{
    font-family: var(--font-family-text);
    color: var( --font-color-white);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1180px) {
  
  }
  